<!-- A panel to display recommendations -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"> 
    <title>RecommenderPanel</title>
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
		
        <!-- General Utilities Imports --> 
        <script type="text/javascript" src="/js/SuperGLU/Util/emacs5-compatibility-patches.js"></script>
        <script type="text/javascript" src="/js/SuperGLU/Util/general-utilities.js"></script>
        
        <!-- SuperGLU Imports -->              
        <script type="text/javascript" src="/js/SuperGLU/Util/uuid.js"></script>
		<script type="text/javascript" src="/js/SuperGLU/Util/zet.js"></script>
		<script type="text/javascript" src="/js/SuperGLU/super-glu.js"></script>
		<script type="text/javascript" src="/js/SuperGLU/Util/serialization.js"></script>
		<script type="text/javascript" src="/js/SuperGLU/Core/messaging.js"></script>
		<script type="text/javascript" src="/js/SuperGLU/Core/messaging-gateway.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.1.0/socket.io.min.js"></script>
        
        <!-- SuperGLU Services --> 
        <script type="text/javascript" src="js/SuperGLU/Services/Orchestration/heartbeat-service.js"></script>
		<script type="text/javascript" src="/js/SuperGLU/Services/LoggingService/standard-its-logging.js"></script>
		<script type="text/javascript" src="/js/SuperGLU/Services/StudentModel/learning-task.js"></script>
        
        <!-- Reference-Implementation Data --> 
		<script type="text/javascript" src="/js/reference-data.js"></script>

    <style type="text/css">
      html, body  {
        margin: 0px;
        padding: 0px;
        border: 0px;
        width: 100%;
        min-height: 100%
        height: 100%;
        background-color:  #746caf;
        overflow: auto;
        overflow-y: auto;
      }

      #recommended-probs {
        background-color:  #746caf;
        margin-bottom: 10px;
        text-align: left;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-right: 10px;
      }
      
      .problems {
        position: relative;
        z-index: 5;
        padding-left: 20px;
        width: 100%;
        font-size: 18px;
        padding-bottom: 4px;
        padding-top: 4px;
        margin-bottom: 7px;
        background-color: #dddfe4; 
      }

      .problems:hover {
        background-color:grey;
        cursor: pointer;
      }

      .RecIcon{ 
        height: 36px;
        width: 36px;
        background-color: #000040;
        position: absolute;
        top: 50%; 
        transform: translateY(-50%);
       }
      /*====== Ignore section below ======*/

      /* Basic Style*/
      * { margin:0; padding:0;}
      html, body { height: 100%; }
      /*button { padding: 5px 10px;position:fixed;bottom: 50px;right:0px;left:0px;margin:auto; width: 200px; display: block; -webkit-appearance: none;background: @orange; outline: none;  border: 2px solid #DB9E36; color: @yellow; border-radius: 10px; box-shadow: 0 2px 3px rgba(0,0,0,0.5);cursor: pointer;}
      button:active {border-color: @beige; color:@beige;}*/
    </style>
            
		<script type="text/javascript">
            var RECOMMENDED_TASKS_VERB = Standard_ITS_Logging.RECOMMENDED_TASKS_VERB;
            // Set a window name
            window.name = "RecommenderPanel";
            var HTTP_MESSAGING_GATEWAY,
                MAIN_POSTING_GATEWAY,               // A gateway for relaying messages to other gateways and services (as a tree)
                PARENT_GATEWAY_ID = 'ETLanding',    // ID for the parent window (TODO: Grab from a URL param 'parentId')
                PARENT_WINDOW,                      // Parent window iframe reference
                PARENT_GATEWAY,                     // A parent window gateway stub to send HTML5 messages
                LOGGING_SERVICE,                    // Test service to send messages to the parent about an activity
                HEARTBEAT_SERVICE,                  // Heartbeat service, to generate a steady heartbeat
                REC_CLIENT_SERVICE,                 // A recommender client connection
                FRAME_NAME = window.name,           // Name for the current frame
                HEARTBEAT_NAME = "ChildHeartbeat",  // A Message verb for the heartbeat this frame looks for
                USER_ID = getParameterByName('p1'), // ID to use for the recommender session
                CLASS_ID = getParameterByName('p2'),// Class ID for this recommender session
                POLLING_RECS = getParameterByName('polling'); // If true, poll recommendations
            console.log("GET THE PARAMS FOR USER");
            console.log(window.location);
            console.log(USER_ID);
            console.log(CLASS_ID);
            console.log(localStorage);
            if (USER_ID == null || USER_ID == ''){
                USER_ID = localStorage.getItem("RECOMMENDER_USER_ID");
            } else {
                localStorage.setItem("RECOMMENDER_USER_ID", USER_ID);
            }
            if (CLASS_ID == null || CLASS_ID == ''){
                CLASS_ID = localStorage.getItem("RECOMMENDER_CLASS_ID");
            } else {
                localStorage.setItem("RECOMMENDER_CLASS_ID", CLASS_ID);
            }
            console.log(localStorage);
            if (POLLING_RECS == "1"){
                POLLING_RECS = true;
            } else {
                POLLING_RECS = false;
            }

            var REC_LIST = 'problem-list';
            var DEFAULT_ICON = "/static/img/icon/IconTopicGeneric.png";
            var ICON_MAP = 
            {"BBN" : "/static/img/icon/BBN-Learnform-Icon.png",  
            "AutoTutor": "/static/img/icon/GuiResourceAutoTutor.png", 
            "Dragoon": "/static/img/icon/GuiResourceDragoon.png",
            "ResourceWeb": "/static/img/icon/GuiResourceWeb.png",
            "RoadMap": "/static/img/icon/IconUserRoadmap.png",
            "Assistments": "/static/img/icon/IconAssistments.png"}

            var IS_POLLING_RECOMMENDATIONS = false,
                DEFAULT_POLLING_TIME = 60; // Wait a minute before re-polling
            
            function startPollingRecommendations(interval){
                if (interval == null){ interval = DEFAULT_POLLING_TIME; }
                var pollingFunct = function pollingFunct(){
                    var myInterval = interval;
                    if (IS_POLLING_RECOMMENDATIONS){
                        pollRecommenderAndUserId();
                        setTimeout(pollingFunct, myInterval*1000);
                    }
                }
                IS_POLLING_RECOMMENDATIONS = true;
                pollingFunct();
            }
            
            function stopPollingRecommendations(){
                IS_POLLING_RECOMMENDATIONS = false;
            }
            
            function pollRecommenderAndUserId(){
                if (localStorage.getItem("RECOMMENDER_USER_ID") != null && 
                    localStorage.getItem("RECOMMENDER_USER_ID") != ''){
                    USER_ID = localStorage.getItem("RECOMMENDER_USER_ID");
                }
                if (localStorage.getItem("RECOMMENDER_CLASS_ID") != null && 
                    localStorage.getItem("RECOMMENDER_CLASS_ID") != ''){
                    CLASS_ID = localStorage.getItem("RECOMMENDER_CLASS_ID");
                }
                REC_CLIENT_SERVICE.requestRecommendations(USER_ID, CLASS_ID, null, 3);
            };
            
            function makeRecommederList(recs){
                var i, x;
                clearRecommenderList();
                for(i=0; i<recs.length; i++){
                    x = recs[i];
                    addToRecommenderList(x.name, x.url, x.taskType);
                }
            }

            function clearRecommenderList(){
                $("#"+REC_LIST).empty();
            };

            function addToRecommenderList(name, url, taskType){
                if (taskType in ICON_MAP){
                  taskIcon = ICON_MAP[taskType];
                } else {
                  taskIcon =  DEFAULT_ICON;
                }
                var $problem = $("<div><div style='margin-left:42px;'>" + name + "</div></div>");
                $problem.val(url);
                $problem.addClass("problems");
                $problem.prepend("<img class='RecIcon' src=" + taskIcon + "/>");
                $problem.click(function(){
                  console.log(this);
                  // window.open($(this).val());
                  $("#assistFrame", window.parent.document).attr("src", $(this).val());
                });
                $("#" + REC_LIST).append($problem);
            } 
            
            Zet.declare('RecommenderPanelService', {
                // Request recommendations & display them
                superclass : Messaging_Gateway.BaseService,
                defineBody : function(self){
                    // Public Properties
                    self.receiveMessage = function receiveMessage(msg){
                        if (msg.getVerb() == RECOMMENDED_TASKS_VERB){
                            console.log(msg);
                        };
                        self.inherited(receiveMessage, [msg]);
                    };
                   
                    self.requestRecommendations = function requestRecommendations(userId, classroomId, topic, n, context){
                        var msg;
                        if (context == null){ context={}; }
                        if (classroomId != null){ 
                            context[Standard_ITS_Logging.CLASSROOM_ID_KEY] = classroomId; 
                        }
                        if (topic != null){ 
                            context[Standard_ITS_Logging.TOPIC_ID_KEY] = topic; 
                        }
                        msg = Messaging.Message(userId, RECOMMENDED_TASKS_VERB, 
                                                n, null, Messaging.REQUEST_ACT, context);
                        if ((self._gateway != null) && (addGatewayContext)){
                            msg = self._gateway.addContextDataToMsg(msg);
                        }
                        console.log("SENDING");
                        console.log(msg);
                        self._makeRequest(msg, self.handleRecommendationMessage);
                    };
                    
                    self.getASSISTmentsURL = function getASSISTmentsURL(task){
                        var assistmentsItem = task._assistmentsItem;
                        if (assistmentsItem != null){
                            return assistmentsItem.getActiveAssignmentURL();
                        } else {
                            return null;
                        }
                    };
                    
                    self.handleRecommendationMessage = function handleRecommendationMessage(msg, oldMsg){
                        var task, name, url, systemId;
                        var recs = [];
                        if (msg.getVerb() == RECOMMENDED_TASKS_VERB &&
                            msg.getSpeechAct() == Messaging.INFORM_ACT){
                            console.log("GOT THE MESSAGE!");
                            console.log(msg);
                            clearRecommenderList();
                            recs = msg.getResult();
                            if (recs == null){ recs = []; }
                            for (var i=0; i<recs.length; i++){
                                task = recs[i];
                                console.log(task);
                                name = task._name;
                                url = self.getASSISTmentsURL(task);
                                systemId = task._system;
                                addToRecommenderList(name, url, systemId);
                                console.log(name);
                                console.log(url);
                                console.log(systemId);
                            }
                        }
                    };
                }
            });
    
            /** When page loaded, set up the services. **/
            var oldOnload = window.onload;
            window.onload = function(){
                if (oldOnload != null){ oldOnload(); }

                var gatewayScope = {},
                    loggingScope = {};
                gatewayScope[ReferenceData.REFERENCE_IMPLEMENTATION_VERSION_KEY] = ReferenceData.version;
                gatewayScope[ReferenceData.USER_AGENT_KEY] = navigator.userAgent,
                taskId = removeURLParams(null, ['p1', 'p2', 'p3', 'p4', 'p5', 'p6', 'p7']);
                gatewayScope[ReferenceData.REFERENCE_IMPLEMENTATION_VERSION_KEY] = ReferenceData.version;
                gatewayScope[ReferenceData.USER_AGENT_KEY] = navigator.userAgent;
                loggingScope['ASSISTments_p1'] = getParameterByName('p1');
                loggingScope['ASSISTments_p2'] = getParameterByName('p2');
                loggingScope['ASSISTments_p3'] = getParameterByName('p3');
                loggingScope['ASSISTments_p4'] = getParameterByName('p4');
                loggingScope['ASSISTments_p5'] = getParameterByName('p5');
                loggingScope['ASSISTments_p6'] = getParameterByName('p6');
                loggingScope['ASSISTments_p7'] = getParameterByName('p7');
                LOGGING_SERVICE = SuperGLU.Standard_ITS_Logging.StandardITSLoggingService(null,
                    getParameterByName('p1'), getParameterByName('p2'), taskId, null, 
                    getParameterByName('p7'), loggingScope);
                            
                // Set up Services and Gateways
                PARENT_WINDOW = parent;
                PARENT_GATEWAY = SuperGLU.Messaging_Gateway.PostMessageGatewayStub(PARENT_GATEWAY_ID, null, null, PARENT_WINDOW);
                REC_CLIENT_SERVICE = RecommenderPanelService("RecommenderTestService");
                HEARTBEAT_SERVICE = SuperGLU.Heartbeat_Service.HeartbeatService(null, HEARTBEAT_NAME, 30);
			
                /** Create a gateway as: GatewayId, Nodes (Gateways/Services/Stubs), Parent Gateway, Scope added to each message**/
                MAIN_POSTING_GATEWAY = SuperGLU.Messaging_Gateway.PostMessageGateway(FRAME_NAME, 
                    [PARENT_GATEWAY, REC_CLIENT_SERVICE, LOGGING_SERVICE, HEARTBEAT_SERVICE], 
                    null, gatewayScope);
                HTTP_MESSAGING_GATEWAY = Messaging_Gateway.HTTPMessagingGateway(null, [MAIN_POSTING_GATEWAY], window.location.protocol + "//" + document.domain + ':' + location.port);
                HEARTBEAT_SERVICE.start();
                LOGGING_SERVICE.sendLoadedTask(FRAME_NAME);
                
                // Populate default recommender value(s)
                var DEFAULT_RECS = [{'name' : 'Problem 1', 'taskType' : 'Assistments', 'url' : 'https://www.assistments.org/public_preview/link/cHJldmlldz10cnVlJmFub25BbGxvd2VkPXRydWUmd2hpdGVMYWJlbGVkPWZhbHNlJnBwdXJsVmVyPTImYXNzaWdubWVudElEPVBTNjc3ODI1Jm9uRXhpdD1odHRwczovL3d3dy5hc3Npc3RtZW50cy5vcmc='}];
                makeRecommederList(DEFAULT_RECS);
                
                // Request recommendations for some user
                if (POLLING_RECS){
                    startPollingRecommendations();
                } else {
                    pollRecommenderAndUserId();
                }
            };
		</script>
	</head>
	<body>
        <div id="problem-list"></div>
    </body>
</html>